alembic==1.14.0
annotated-types==0.7.0
anyio==4.7.0
azure-cognitiveservices-vision-computervision==0.9.1
azure-common==1.1.28
azure-core==1.32.0
blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
dnspython==2.7.0
email_validator==2.2.0
fastapi==0.115.6
Flask==3.1.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==2.4.4
Flask-Validator==1.4.2
gunicorn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_51vg37qcbj/croot/gunicorn_1720002508347/work
idna==3.10
isbnlib==3.10.3
iso3166==1.0.1
isodate==0.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
Mako==1.3.8
MarkupSafe==3.0.2
msrest==0.7.1
oauthlib==3.2.2
packaging @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_81ri4yfpjw/croot/packaging_1720101866878/work
psycopg2==2.9.10
psycopg2-binary==2.9.10
py-moneyed==0.8.0
pycountry==24.6.1
pydantic==2.10.3
pydantic_core==2.27.1
python-dotenv==1.0.1
pytz==2020.1
requests==2.32.3
requests-oauthlib==2.0.0
schwifty==2020.9.0
setuptools==75.1.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.36
starlette==0.41.3
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.1.3
wheel==0.44.0
